.annotate-hide {
	display: none;
}

.annotate-sidebar {
	position: fixed;
	top: 0px;
	right: 0px;
	width: 25%;
	height: 100%;
	z-index:9999999;
	font-family: helvetica;
	background-color:#3e8fd6;
}

.annotate-toggle {
	position: fixed;
	top: 0px;
	right: 25%;
	width: 25px;
	height: 25px;
	z-index: 999999999999999;
	background-color:#3e8fd6;
}

.annotate-toggle.hidden {
	right: 0px;
}

.annotate-header {
	width: 100%;
	margin-top: 0.75em;
	margin-bottom: 0.75em;
	text-align: center;
	color: #fff;
	font-size: 1.5em;
	font-weight: bold;
}

.annotate-list {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
}

.annotate-note {
	width: 90%;
	margin: 5px auto 5px auto;
	padding: 2px 5px 2px 5px;
	border-radius: 4px;
	background-color: #fff;
	color: #3e8fd6;
	flex-grow: 1;
}

.annotate-note-close {
	float: right;
}

.annotate-save {
	position: fixed;
	bottom: 40px;
	right: 0px;
}

.annotate-footer {
	position: fixed;
	right: 0px;
	bottom: 0px;
	width: 25%;
	height: 50px;
	border: 0;
	padding: 0;
	margin: 0;
}
